.home {
    display: flex;
    margin: 80px auto;
    &__about {
        display: flex;
        flex-direction: column;
        text-align: start;
        width: 538px;
        min-height: 247px;
        h1 {
            color: #FFFFFF;
            font-size: 44px;
            line-height: 52px;
        }
        p {
            color: #9C9C9C;
            font-size: 14px;
            line-height: 24px;
        }
        button {
            background: #3F8E00;
            border: 1px solid #62BA1B;
            box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
            border-radius: 4px;
            width: 308px;
            height: 63px;
        }

    }
    &__img {
        width: 350px;
        height: 350px;
    }
}